/*
    Document   : audero-context-menu
    Author     : Aurelio De Rosa <aurelioderosa@gmail.com>
    Version    : 1.0
	 License    : http://creativecommons.org/licenses/by/3.0/ CC BY 3.0
	 Link       : https://bitbucket.org/AurelioDeRosa/auderocontextmenu
    Description:
        Used to style the documentation
*/

body
{
   width: 600px;
   text-align: justify;
   background-color: #DEDEDE;
}

pre
{
   background-color: #FFFFFF;
   border: 2px dotted black;
}

img.chicken
{
   margin: 10px 30px;
}

.required
{
   color: red;
}

h4.method
{
   font-style: italic;
}

p.method
{
   border: 1px solid black;
}

.area
{
   width: 400px;
   height: 100px;
   background-color: #ADD8E6;
}

.big-area
{
   width: 600px;
   height: 200px;
   background-color: #FF0000;
}